version: "3.8"

services:
  dockge:
    image: louislam/dockge:1
    container_name: dockge
    restart: unless-stopped
    ports:
      - "5001:5001"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data:/app/data
      - /home/ubuntu/octa-infra:/opt/stacks
    environment:
      - DOCKGE_STACKS_DIR=/opt/stacks
    entrypoint: >
      sh -c "
      apk add --no-cache docker-cli docker-cli-compose &&
      exec /usr/bin/dumb-init -- node server/index.js
      "
