version: "3.8"

services:
  beszel:
    image: henrygd/beszel:latest
    container_name: beszel
    restart: unless-stopped
    ports:
      - "45876:8090"
    volumes:
      - ./data:/beszel_data
    environment:
      - DISABLE_PASSWORD_AUTH=false

  beszel-agent:
    image: henrygd/beszel-agent:latest
    container_name: beszel-agent
    restart: unless-stopped
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - PORT=45877
      - KEY=ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHDkncARH4uLS7FLdurFPIQ17tBfWoDs+5s0EwJ8cwdx
